html body {
  background-color: rgb(27, 29, 41) !important;
  transition: 0.2s ease;
}
.LX3sZb #gb {
  background-color: transparent !important;
}
body .CvDJxb .sfbg {
  background-color: rgb(27, 29, 41) !important;
}
#appbar {
  background-color: transparent !important;
}
.kvH3mc,
.BToiNc,
.UK95Uc {
  background-color: rgb(27, 29, 41) !important;
}
.LC20lb,
.MBeuO,
.DKV0Md,
.fc9yUc,
.tNxQIb,
.ynAwRc,
.OSrXXb {
  color: #8ff30d;
}
.LC20lb:hover,
.MBeuO:hover,
.DKV0Md:hover,
.fc9yUc:hover,
.tNxQIb:hover,
.ynAwRc:hover,
.OSrXXb:hover {
  color: #8fd238;
}
a:visited {
  color: rgb(250, 124, 101);
}
.JCzEY .ZwRhJd {
  color: #8fd238;
}
.gb_Fc a.gb_y,
.gb_Fc span.gb_y {
  padding: 5px 15px;
  transition: 0.2s ease;
}
.gb_Fc a.gb_y:hover,
.gb_Fc span.gb_y:hover {
  border: 1px solid;
  text-decoration: none;
}
.gb_yd {
  font-family: arial, sans-serif;
  line-height: normal;
  padding-right: 0px !important;
}
